<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533899571849-al436rd4c23k7tek67ti5lrh9sbilk7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533899571849-al436rd4c23k7tek67ti5lrh9sbilk7h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>533899571849-l9fb41i9ke8ml23pa4e1rv04oeasoh8r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUnHi4VYrXwdJiS4QHm828awGgqfS64LM</string>
	<key>GCM_SENDER_ID</key>
	<string>533899571849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.porteChai</string>
	<key>PROJECT_ID</key>
	<string>porte-chai-835f3</string>
	<key>STORAGE_BUCKET</key>
	<string>porte-chai-835f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533899571849:ios:7ae8212ff26c3374bc4c58</string>
</dict>
</plist>